body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 250px;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
}

.upload-section {
  text-align: center;
  margin-bottom: 20px;
}

#filterSection {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

input[type="text"] {
  padding: 8px;
  font-size: 16px;
  width: 300px;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}

.table-container {
  overflow-x: auto;
  max-height: 500px;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: left;
}

th {
  background-color: #eee;
  position: sticky;
  top: 0;
  z-index: 1;
}
/* Encabezados */
.header-cell {
  background-color: #dce3f2;
  font-weight: bold;
}

/* 🔴 Quiebre */
.quiebre-row {
  background-color: #ec372e;
  color: white;
}

/* 🔵 Sobrestock */
.sobrestock-row {
  background-color: #0275d8;
  color: white;
}
